<link rel="stylesheet" href="~/css/loginStyle.css" asp-append-version="true" />

<div id="login-box">
    <div class="left">
        <h1>Вход</h1>

        <input type="text" name="username" placeholder="Имя пользователя" />
        <input type="password" name="password" placeholder="Пароль" />
        <div class="button">
            <input type="submit" name="signup_submit" value="Войти" />
        </div>
    </div>
</div>