<link rel="stylesheet" href="~/css/registerStyle.css" asp-append-version="true" />

<div id="login-box">
    <div class="left">
        <h1>Регистрация</h1>

        <input type="text" name="username" placeholder="Имя пользователя" />
        <input type="text" name="email" placeholder="E-mail" />
        <input type="password" name="password" placeholder="Пароль" />
        <input type="password" name="password2" placeholder="Подтвердите пароль" />
        <div class="button">
            <input type="submit" name="signup_submit" value="Зарегистрироваться" />
            <div>
            </div>
            </div>
            </div>
            </div>